.black {
  background: black;
}

.intro {
  font-size: 36px;
}
.weatherStagnentInfo {
  /* text-align: left; */
}

.makeWhite {
  color: white;
}

.leftEntire {
  background: rgb(246, 246, 246);
}
.leftSide {
  width: 100%;
}
.leftPanel {
  padding: 16px;
}
#newCityArea {
  border-radius: 4px;
  border: 1px solid #dfdfdf;
}
.cityButton {
}
